

























































<!-- Creating the user graph -->
        <div id="chart-container">
          <canvas id="myCanvas" style="width:400px; height:auto;"></canvas>
        </div>