
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="/">Back</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav">
     
     <li class="nav-item">
       <a class="nav-link" href="https://www.tdameritrade.com/home.page"><img src="https://www.nerdwallet.com/assets/blog/wp-content/uploads/2017/06/Tdameritrade.com-promotions-480x169.png" style="width:250px;height:100px;"></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="https://www.schwab.com/public/schwab/active_trader/start_trading"><img src= "https://www.nerdwallet.com/assets/blog/wp-content/uploads/2017/06/charles-schwab-logo-480x65.png"style="width:200px;height:70px";></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="https://www.fidelity.com/"><img src= "https://www.nerdwallet.com/assets/blog/wp-content/uploads/2017/06/Fidelity-logo1-480x240.png"style="width:150px;height:100px";> </a>
     </li>

     <li class="nav-item">
       <a class="nav-link" href="https://us.etrade.com/home"><img src="https://www.nerdwallet.com/assets/blog/wp-content/uploads/2017/06/etrade-480x75.png"style="width:200px;height:60px";></a>
     </li>  
       
     <li class="nav-item">
       <a class="nav-link" href="https://www.ally.com/invest/"><img src="https://www.nerdwallet.com/assets/blog/wp-content/uploads/2017/05/allyinvest-e1522360179767.png"style="width:150px;height:75px";></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="https://www.merrilledge.com/"><image src="https://www.merrilledge.ml.bac-assets.com/Publish/Content/image/gif/GWMOL/ME_home_merrill-edge-logo.gif"></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="https://www.interactivebrokers.com/en/home.php"><image src="https://www.nerdwallet.com/assets/blog/wp-content/uploads/2017/06/iblogo061217.png"style="width:200px;height:60px";></a>
     </li>
   </ul>
 </div>
</nav>


<br>
<br>
<br>

  <div class="container-fluid">
    <div class="card mx-auto">
           <div class="card-header">
             <h3>Add Positions to your Portfolio</h3>
           </div>
           <div class="card-body">
               <form>
                       <div class="form-group">
                               <label for="tickerSymbol">Ticker Symbol</label>
                               <input type="tickerSymbol" class="form-control" id="tickerSymbol" placeholder="">
                             </div>  
                             
                             <div class="form-group">
                               <label for="qty">Quantity</label>
                               <input type="qty" class="form-control" id="qty" placeholder="">
                             </div>
                     
                   
                             
                   <button type="submit" id = "submit" class="btn btn-primary">Add</button>
                   <br>
                   <a href="https://www.marketwatch.com/tools/quotes/lookup.asp">Don't know what you're looking for? Click Me</a>
               </form>
           </div>
       </div>

<br>
<br>
<hr color="seashell">
<br>
<br>
<div class="container">
<div class="card mx-auto" id="stockInfo">

    <table id="stockTable" style="width:100%">
  <tr>
    <th>Stock Name</th>
    <th>Quantity</th> 
    <th>Worth</th>
  </tr>
  <tbody>
  </tbody>
  {{!-- <tr id="stockInfo">
    <td id="stockName"></td>
    <td id="quantity"></td> 
    <td id="worth"></td>
  </tr> --}}

  
</table>

</div>
</div> 
<!-- Creating the user graph -->
<div id="chart-container" style="width:50%;">
    <canvas id="myCanvas" style="width:400px; height:auto;"></canvas>
</div>

