body {
    
    background-image: url("../images/black.jpg");
    float:center;
}

h1 {
    color: seashell;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#line {
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.card {
    width: 40%;
    height: 35%;
    
}

nav {
    font-weight: bold;

}

#stockInfo {
    float: left;
    text-align: center;
    width: 40%;
   
}

svg {
    float: right;
}



